# =============================================================================
#  PROJECT GITIGNORE
# =============================================================================

# =============================================================================
# ENVIRONMENT & CONFIGURATION
# =============================================================================
.env
*.osef
venv/
.venv/

# =============================================================================
# PYTHON
# =============================================================================
# Compiled Python bytecode
*.py[cod]
*.pyc
*.pyo
__pycache__/

# =============================================================================
# DATABASES
# =============================================================================
*.sqlite3
media/
mysql_data/

# ChromaDB
chroma.db/

# =============================================================================
# TESTING & COVERAGE
# =============================================================================
.coverage
.coveragerc
coverage.xml
htmlcov/
test_data/

# =============================================================================
# PROJECT SPECIFIC STORAGE
# =============================================================================
src/back/test_data/*
src/storage/files/*
src/storage/temp/*
src/storage/keys/*

# Exceptions
!.gitkeep

# =============================================================================
# IDE & EDITORS
# =============================================================================
# VS Code
src/.vscode

# JetBrains IDE
.idea/

# =============================================================================
# OPERATING SYSTEMS
# =============================================================================
# MacOS
.DS_Store

# Windows
Thumbs.db

# =============================================================================
# APPLICATIONS & EXECUTABLES
# =============================================================================
*.app
*.exe
*.war


# =============================================================================
# LOGS
# =============================================================================
*.log
